@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@media screen and (max-width: 1024px) {
    .icon-nav {
        margin: 0 !important;
    }
}

@media screen and (max-width: 768px) {
    .icon-nav {
        display: none !important;
    }

    header .container-fluid {
        padding: 0 !important;
    }

    .navbar-collapse {
        padding: 0 !important;
    }

    .row-bottom .bottom-column {
        text-align: center;
        padding: 0;
    }

    .address-bottom {
        display: block !important;
    }
}

@media screen and (min-width: 425px) {
    .phone-number {
        text-align: center !important;
    }

    .address {
        justify-content: center;
    }

    .cost-img {
        top: 0 !important;
    }
}

* {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif !important;
}

h2 {
    font-size: 40px;
    font-weight: bold;
}

.button {
    background-color: #4d78e4;
    border: none;
    color: #ffffff;
    border-radius: 3px;
    box-shadow: 0 3px #38549c;
    font-size: 16px;
    font-weight: 300;
}

.btn-top {
    padding: 10px 30px;
}

.btn-big {
    padding: 15px 88px;
}

.btn-cost {
    padding: 15px 0;
    width: 100%;
}

.btn-cost:hover {
    background-color: #38549c;
}

header.container-fluid.header {
    background-image: url("../img/header-bg.jpg");
    background-attachment: relative;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 680px;
}

.text-centered {
    text-align: center;
}

.nav-first {
    margin-top: 20px;
    color: #ffffff;
}

.address, .address-bottom {
    display: flex;
    padding-top: 10px;
}

.address .address-image {
    margin: 5px 20px 0 0;
}

.address-bottom .address-image {
    margin: 5px 20px 0 0;
}

.address .address-city {
    font-size: 16px;
}

.address-bottom .address-city {
    font-size: 16px;
}

.phone-number {
    font-size: 21px;
}

.phone-number .number {
    margin-bottom: 10px;
}

.header-navigation {
    margin-top: 20px;
    background: none;
    border-radius: 0;
    border-right: none;
    border-left: none;
}

.navbar .navbar-nav {
    display: inline-block !important;
    float: none !important;
    font-size: 15px;
    font-weight: 300 !important;
}

.navbar .navbar-collapse {
    text-align: center !important;
}

.icon-nav {
    margin: 0 25px;
    pointer-events: none !important;
}

.navbar-nav li a {
    color: #ffffff !important;
}

.navbar-nav li a:hover {
    border-top: 1px solid #5987fa !important;
    color: #5987fa !important;
}

.header-text h1 {
    color: #ffffff;
    font-size: 58px;
    font-weight: 700;
    margin-top: 125px;
}

.text-scroll {
    margin-top: 100px;
}

.text-scroll p {
    font-size: 18px;
    color: #6478a9;
}

.text-scroll .center-scroll {
    padding-top: 8px;
}

.text-round {
    margin: 80px 0 50px 0;
}

.box .content h3 {
    font-size: 20px;
    font-weight: 500;
}

.box .content p {
    font-size: 16px;
    font-weight: 400;
}

/* The actual timeline (the vertical ruler) */
.timeline {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
    content: '';
    position: absolute;
    width: 2px;
    background-color: #d5ddf1;
    top: 15px;
    bottom: 0;
    left: 50%;
    margin-left: -1px;
}

/* Container around content */
.box {
    padding: 1px 60px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

/* The circles on the timeline */
.box::after {
    content: '';
    position: absolute;
    width: 80px;
    height: 80px;
    right: -40px;
    /*background-color: #d5ddf1;*/

    border: none;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.circle-one::after {
    background-image: url("../img/1.png");
}

.circle-two::after {
    background-image: url("../img/2.png");
}

.circle-three::after {
    background-image: url("../img/3.png");
}

.circle-four::after {
    background-image: url("../img/4.png");
}

.circle-five::after {
    background-image: url("../img/5.png");
}

.circle-six::after {
    background-image: url("../img/6.png");
}

.circle-seven::after {
    background-image: url("../img/7.png");
}

.circle-eight::after {
    background-image: url("../img/8.png");
}

.circle-nine::after {
    background-image: url("../img/9.png");
}

/* Place the container to the left */
.left-box {
    left: 0;
}

/* Place the container to the right */
.right-box {
    left: 50%;
}

/* Fix the circle for containers on the right side */
.right-box::after {
    left: -40px;
}

/* The actual content */
.content {
    padding: 20px 30px;
    background-color: white;
    position: relative;
    border-radius: 6px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media all and (max-width: 600px) {
    /* Place the timelime to the left */
    .timeline::after {
        left: 31px;
    }

    /* Full-width containers */
    .box {
        width: 100%;
        padding-left: 70px;
        padding-right: 25px;
    }

    /* Make sure that all arrows are pointing leftwards */
    .box::before {
        left: 60px;
        border: medium solid white;
        border-width: 10px 10px 10px 0;
        border-color: transparent white transparent transparent;
    }

    /* Make sure all circles are at the same spot */
    .left-box::after, .right-box::after {
        left: -10px;
    }

    /* Make all right containers behave like the left ones */
    .right-box {
        left: 0%;
    }
}

.examples-of-purchases {
    background-image: url("../img/bg-examples-of-purchases.jpg");
    background-attachment: relative;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 1110px;
}

.examples-of-purchases h2 {
    color: #ffffff;
}

/*Carousel*/

.media-carousel {
    margin-bottom: 0;
    padding: 0 40px 30px 40px;
    margin-top: 30px;
}

.carousel-control {
    top: 500px;
}

/* Previous button  */
/*.media-carousel .carousel-control.left {*/
    /*left: 40px;*/
    /*background: none repeat scroll 0 0;*/
    /*border: 1px solid #6478A9;*/
    /*height: 35px;*/
    /*width: 40px;*/
    /*margin-top: 50px*/
/*}*/

/*.media-carousel .carousel-control.left:hover {*/
    /*background-color: #6478A9;*/
/*}*/

/*!* Next button  *!*/
/*.media-carousel .carousel-control.right {*/
    /*right: 40px !important;*/
    /*background: none repeat scroll 0 0;*/
    /*border: 1px solid #6478A9;*/
    /*height: 35px;*/
    /*width: 40px;*/
    /*margin-top: 50px*/
/*}*/

/*.media-carousel .carousel-control.right:hover {*/
    /*background-color: #6478A9;*/
/*}*/

/*!* Changes the position of the indicators *!*/
/*.media-carousel .carousel-indicators {*/
    /*right: 50%;*/
    /*top: auto;*/
    /*bottom: 0;*/
    /*margin-right: -19px;*/
/*}*/

/*!* Changes the colour of the indicators *!*/
/*.media-carousel .carousel-indicators ul {*/
    /*background: #6478A9;*/
/*}*/

/*.media-carousel .carousel-indicators .active {*/
    /*background: #6478A9;*/
/*}*/

.media-carousel img {
    width: 100%;
    height: 100%;
}

/* End carousel */

.price {
    background-color: rgba(0, 0, 0, 0.2);
    padding: 40px 10px;
}

.price:hover {
    background-color: rgba(0, 0, 0, 0.3);
}

.price .main-price a {
    color: #ffffff;
    font-size: 30px;
}

.price .main-price a:hover {
    color: #6478A9;
    text-decoration: none;
}

.price .main-price p {
    margin-top: 15px;
    font-size: 20px;
    color: #ffffff;
}

.price .main-price p small {
    font-weight: 300;
}

.price .next-price {
    margin-top: 40px;
}

.price .next-price p {
    color: #ffffff;
    font-size: 16px;
}

.price .next-price p small {
    font-weight: 300;
}

.price .next-price p:last-child {
    color: #797d88;
}

/*Cost of Delivery*/

#cost-of-delivery {
    min-height: 890px;
    background-color: #ececec;
}

.cost-row {
    margin-top: 135px;
}

.cost-panel {
    background-color: #ffffff;
    min-height: 320px;
}

.cost-column .cost-rate {
    font-size: 30px;
    font-weight: bold;
    padding: 0 30px 25px;
}

.cost-column .cost-price {
    color: #486dc9;
    font-size: 27px;
    font-weight: bold;

}

.cost-column .cost-price del {
    color: #999daa;
    font-size: 20px;
}

.cost-text ul {
    padding-left: 30px;
    list-style-type: square;
}

.cost-img {
    position: relative;
    top: -70px;
    left: 30px;
}

/*Auction*/

#auction {
    min-height: 700px;
}

.auction-logo {
    height: 96px;
    margin: 10px 0 10px 0;
}

.auction-column p {
    min-height: 220px;
    font-size: 14px;
    font-weight: 300;
}

.auction-column a {
    color: #ffffff;
    text-decoration: none;
}

#questions {
    background-color: #f7f9ff;
}

/*Accordion*/

button.accordion {
    background-color: #f7f9ff;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    border-top: 1px solid #e6c97c;
    text-align: left;
    outline: none;
    font-size: 20px;
    font-weight: bold;
    transition: 0.4s;
}

button.accordion.active, button.accordion:hover {
    background-color: #f7f9ff;
}

button.accordion:after {
    content: url("../img/arrow-before.png");
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: url("../img/arrow-after.png");
}

div.panel-accordion {
    padding: 0 18px;
    background-color: #f7f9ff;
    border: none;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

/*Footer*/

.footer-top {
    background-image: url("../img/footer-bg.jpg");
    background-attachment: relative;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 350px;
}

.footer-top h2 {
    color: #ffffff;
    font-size: 37px;
}

.input-group .form-control {
    height: 55px;
}

.footer-bottom {
    background-image: url("../img/footer-bg-bottom.jpg");
    background-attachment: relative;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 240px;
}

.row-bottom {
    padding-bottom: 10px;
    margin-bottom: 25px;
    border-bottom: 1px solid #999999;
}

.bottom-column {
    min-height: 130px;
    padding-top: 30px;
    margin-top: 30px;
    color: #ffffff;
    border-right: 1px solid #999999;
}

.bottom-column ul {
    list-style-type: none;
}

.bottom-column ul li a {
    color: #ffffff;
    text-decoration: none;
}

.bottom-column ul li a:hover {
    color: #38549C;
}

.bottom-column:last-child {
    border-right: none;
}

.bottom-nav {
    padding-left: 60px;
}

.small-bottom-text {
    color: #999999;
    font-weight: 300;
}

#map {
    width: 100%;
    height: 400px;
}

